* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Source Sans Pro",sans-serif;
	font-size: 13px;
	color: #595959;
	background-color: #545454 !important;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
.sidebar-area ul {
	overflow: hidden;
}
.container-fluid {
	max-width: 1600px;
	margin: 0 auto;
}
#main-container {
	background-color: rgba(12, 12, 12, 0.81);
}
#slider-container {
	max-height: 400px;
	overflow: hidden;
	padding-top: 30px;
}
.blocks-area {
	margin-top: 40px;
}
.top-header-area, .under-header-area {
	background-color: #FFF;
}

.top-header > a.logo {
	display: block;
}
.main-slider {
	overflow: hidden;
}
a.slider-child {
	display: block;
	margin-bottom: 10px;
}
.top-header::after {
	content: "";
	display: table;
	clear: both;
}
.navbar {
	border-radius: 0;
	padding: 0;
}
.navbar-nav > li.nav-item {
	padding: .5rem 1rem;
}
.navbar-nav > .nav-item a {
	font-size: 16px;
}
.navbar-nav li.dropdown:hover > div.dropdown-menu {
    display: block;    
}
.dropdown-menu {
	margin: 0;
	border-radius: 0;
}
a.navbar-brand, form.container-search {
	margin-top: .5rem;
}
/*.dropdown-item:hover, .dropdown-item:focus {
	background-color: #f26522;
}*/
.btn-outline-secondary {
	border-color: rgba(0,0,0,.15);
	color: #ccc;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus {
	border: 1px solid #FFF;
}
/*.sidebar-area, .main-area {
	background-color: #fff;
	position: relative;
	box-shadow: 0 1px 2px #eeecec;
	padding: 15px;
	margin-bottom: 30px;
}*/
.sidebar-area {
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 15px;
}
.sidebar-area .block-hot > img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	border: 1px solid #9a9a9a;
}
.sidebar-area ul {
	padding-left: 15px;
	padding-top: 15px;
}
.sidebar-area ul > li {
	display: block;
	width: 100%;
}
.sidebar-area ul > li > a {
	color: rgba(190, 190, 190, 0.99);
	font-size: 15px;
	text-decoration: none;
	padding: 5px;
	display: block;
}
.sidebar-area ul > li > a:hover,
.sidebar-area ul > li > a:focus {
	color: #FFFFFF;
} 
.sidebar-area ul > li > a > i {
	margin-right: 15px;
}
/*.sidebar-area h3.titles {
	color: rgba(190, 190, 190, 0.99);
}*/
div.block-title {
	border-bottom: 1px solid #f26522;
	padding-bottom: 7px;
}
div.block-title > span {
	font-size: 20px;
	border-bottom: 3px solid #f26522;
	padding: 8px 2px;
}
figure.block-books {
	position: relative;
	top: 0;
	border: 1px solid rgba(255, 255, 255, 1);
}
figure.block-books > .new-item {
	position: absolute;
	background-color: #f26522;
	padding: 15px 8px;
	color: #FFFFFF;
	font-size: 15px;
	right: 10px;
	top: -2px;
	z-index: 100;
}
figure.block-books a {
	display: block;
}
figure.block-books figcaption.block-chapter {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.80)
}
figcaption.block-chapter {
	text-align: center;
}
figcaption.block-chapter > hgroup {
	padding: 5px;
	overflow: hidden;
	word-wrap: break-word;
}
figcaption.block-chapter > hgroup h5 {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: .5rem;
	margin-bottom: .2rem;
}
figcaption.block-chapter > hgroup h6 {
	color: #d4d4d4;
	font-size: 12px;
}
ul.block-title {
	border-bottom: 1px solid #f26522;
	margin-bottom: 30px;
}
ul.block-title > li:first-child {
	display: inline-block;
	border-bottom: 3px solid #f26522;
	padding: 0 10px 0 5px;
}
ul.block-title > li.more-item {
	float: right;
}
ul.block-title > li.more-item a {
	line-height: 2.8em;
	color: #636363;
}
ul.block-title > li.more-item a:hover, ul.block-title > li.more-item a:focus {
	color: #f26522;
}
.owl-carousel {
	margin-top: 20px;
}
.owl-carousel .item {
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-prev {
	left: -10px;
}

.owl-carousel .owl-next {
	right: -10px;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 38%;
	margin: auto !important;
	display: none;
}
.owl-carousel .owl-prev a,
.owl-carousel .owl-next a {
	color: #f26522;
	background-color: rgba(255, 255, 255, 0.9);
	display: block;
	padding: 5px 10px;
}
.owl-carousel:hover .owl-prev,
.owl-carousel:hover .owl-next,
.owl-carousel:focus .owl-prev,
.owl-carousel:focus .owl-next {
	display: block;
}
.carousel-item:first-child {
  margin-left: 0;
}
.carousel-item:last-child {
	margin-right: 0;
}
.titles {
	color: #FFFFFF;
	text-transform: uppercase
}