ul, li {
	list-style: none;
}
.pagination > li {
	display: inline-block;
}
.pagination li:first-child a {
    margin-left: 0;
}
.pagination > li > a {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li.active > span {
	position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    color: #0275d8;
    text-decoration: none;
    background-color: #d4d4d4;
    color: #FFFFFF;
    border: 1px solid #ddd;
}
.pagination > li.disabled > span {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.pagination li:last-child a {
    border-bottom-right-radius: .2rem;
    border-top-right-radius: .2rem;
}